body{
    background-color: rgb(53, 34, 34);
}
h3{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
h4{
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 700;
    color: #344058;
}
h4::first-letter{
    font-size: 20px;
}
p{
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: 'Poppins';
    font-size: 14px;
    color: #344058;
}
img{
    max-width: 20vw;
    min-width: 280px;
    border-radius: 1rem;
    transition: .3s ease;
}
img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.container_card{
    margin: 15vh auto;
    display: flex;
    flex-direction: column;

    max-width: 250px;
    background-color: #d9e1f1;
    border-radius: 1rem;
    padding: 1.5rem;
}
.picture{
    display: flex;
    justify-content: center;
    margin: 8px;
}
.container_items{
    display: flex;
    justify-content: space-around;
}
.container_colors{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.color:nth-child(1){
    background-color: black;
}
.color:nth-child(2){
    background-color: white;
}
.color:nth-child(3){
    background-color: rgb(59, 14, 14);
}
.color{
    padding: .7em;
    border-radius: 50%;
    transition: .2s ease-in-out;
}
.color:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.card_btn{
    font-family: 'Poppins';
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: .7rem;
    border-radius: 1rem;
    min-width: 50%;
    margin: 0 auto;
    background-color: #4d5d7e;
    color: white;
    transition: .3s ease-in;
}
.card_btn:hover {
    background-color: rgb(56, 56, 56);
    cursor: pointer;
  }